* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

    body , html {
        height: 100%;
      }
      .hero-image {
      
        background-image:url("images/heroimage.jpg");
        position: relative;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100%;
     
      }
      .hero-text {
        text-align: center;
        position: absolute;
        background-color: rgba(210, 105, 30, 0.212);
        left:10%;
        top: 50%;
        width: 60%;
    font-weight: 200;
        font-size: 50px;
      }
      button {
        background-color: rgb(15, 15, 15);
        font-size: 20px;
        padding : 6px;
        color:white;
      }
      button:hover {
        background-color: #cccccc;
        color:red;
      }

      /* under Hero Image section*/
      .cake-Packages{
          display: flex;
          justify-content: space-evenly;
          flex-direction: row;
          gap: 0.5;
          background-color: rgba(243, 230, 232, 0.342);
          place-items: center;
          margin-left: 10rem;
          margin-right: 10rem;
          margin-top: 5rem;
          margin-bottom: 10rem;
        padding: 1rem;
        gap: 1rem;
      }

      .btn{
          float: right;
          margin-right: 1rem;
         
          
      }

      .pkg-1{
          background-color: rgba(219, 190, 196, 0.39);
          color: rgb(8, 8, 8);
          margin-right: 2rem;
          padding: 1rem;
      }

      .img{
          border-color: tomato;
          width: 200px;
          height: 300px;
          object-fit: cover;
      }

      h1{
          width: 40px;
      }
    
